@using BTCPayServer
@using BTCPayServer.Data
@using BTCPayServer.Plugins.USDt.Services
@using Microsoft.AspNetCore.Identity
@inject EthErc20RPCProvider EthErc20RpcProvider
@inject SignInManager<ApplicationUser> SignInManager;

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin) && EthErc20RpcProvider.Summaries.Any())
{
    foreach (var summary in EthErc20RpcProvider.Summaries)
    {
        if (summary.Value != null)
        {
            var status = summary.Value.RpcAvailable
                ? summary.Value.Synced ? "enabled" : "pending"
                : "disabled";
            <h5 class="d-flex align-items-center fw-semibold">
                <span class="me-2 btcpay-status btcpay-status--@status"></span>
                @summary.Key
            </h5>
            <ul>
                <li>Node available: @summary.Value.RpcAvailable</li>
                <li>Last updated: @summary.Value.UpdatedAt</li>
                <li>Synced: @summary.Value.Synced (@summary.Value.LatestBlockScanned / @summary.Value.HighestBlockOnChain)</li>
            </ul>
        }
    }
}
