@inject DisplayFormatter DisplayFormatter
@using BTCPayServer.Services
@using BTCPayServer.Services.Invoices
@using BTCPayServer.Plugins.TronUSDT.Services.Payments
@using System.Globalization
@using BTCPayServer.Plugins.TronUSDT.Controllers.ViewModels
@model IEnumerable<BTCPayServer.Services.Invoices.PaymentEntity>
@inject TransactionLinkProviders TransactionLinkProviders
@inject PaymentMethodHandlerDictionary handlers

@{
    var payments = Model.Select(payment =>
    {
        if (!handlers.TryGetValue(payment.PaymentMethodId, out var h) || h is not TronUSDTLikePaymentMethodHandler handler)
            return null;
        var onChainPaymentData = handler.ParsePaymentDetails(payment.Details);
        var confirmationCount = onChainPaymentData.ConfirmationCount;
        
        var m = new TronUSDTPaymentViewModel
        {
            Crypto = handler.Network.CryptoCode,
            DepositAddress = payment.Destination,
            Amount = payment.Value.ToString(CultureInfo.InvariantCulture),
            TransactionId = onChainPaymentData.TransactionId,
            ReceivedTime = payment.ReceivedTime,
            Confirmations = confirmationCount.ToString(CultureInfo.InvariantCulture),
            TransactionLink = TransactionLinkProviders.GetTransactionLink(handler.Network.CryptoCode, onChainPaymentData.TransactionId)
        };
        return m;
    }).Where(c => c != null).Cast<TronUSDTPaymentViewModel>().ToList();
}

@if (payments.Any())
{
    <section>
        <h5>TronUSDT Payments</h5>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="w-75px">Crypto</th>
                <th class="w-175px">Destination</th>
                <th class="text-nowrap">Payment Proof</th>
                <th class="text-end">Confirmations</th>
                <th class="w-150px text-end">Paid</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var payment in payments)
            {
                <tr >
                    <td>@payment.Crypto</td>
                    <td>
                        <vc:truncate-center text="@payment.DepositAddress" classes="truncate-center-id"/>
                    </td>
                    <td>
                        <vc:truncate-center text="@payment.TransactionId" link="@payment.TransactionLink" classes="truncate-center-id"/>
                    </td>
                    <td class="text-end">@payment.Confirmations</td>
                    <td class="payment-value text-end text-nowrap">
                        <span data-sensitive class="text-success">@DisplayFormatter.Currency(payment.Amount, payment.Crypto)</span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </section>
}